/** Add css rules here for your application. */

body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  direction: ltr;
}

body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

input{
	font-family: Arial Unicode MS, Arial, sans-serif;
 	font-size: small;
 	text-decoration: none;
 	border: none; 	
 	height:18px;
	border: none;
	padding:0px;
	margin:0px;
	border: 1px solid #9e9b9b;
}

.RatingWidget0Stars{
  background-image: url("images/rating0.png");
}

.ProductPreview{
	border: 1px solid #9e9b9b;
	margin: 1px;
	padding: 1px;
}

.ShopPreview{
	border: 1px solid #9e9b9b;
	margin: 1px;
	padding: 1px;
}

.ShopPreview-Street, .ShopPreview-city{
	font-size: 10px;
}


.UIManager{
	
}

.UIManager-Menu{
	background-color: #9e9b9b;
	margin-bottom: 3px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.UIManager-Menu-Item{
	border-left: solid 1px white;
}

.UIManager-Menu-Item:hover{
	font-weight: bold;
	color: #9e9b9b;
	background-color: white;
}


.InfoBox-Success{
	background-color: #beffb5;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.InfoBox-Warning{
	background-color: #ffeb90;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.InfoBox-Error{
	
}


.Success{
	background-color: #beffb5;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: small;
}

.Warning{
	background-color: #ffeb90;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: small;
}

.Error{	
	background-color: #ff676e;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: small;
}



.MorphWidget{
	height:18px;
	margin:1px;
}

.MorphWidgetText:hover{
	height:18px;
	border: 1px solid #9e9b9b;
}

.MorphWidgetBox{
	height:18px;
	border: none;
	padding:0px;
	margin:0px;
	border: 1px solid #9e9b9b;
}


.DateWidget{
	border: 1px solid #9e9b9b;
	
}

.DateWidget-MonthYear{
	background-color: #eaeaea;
}

.DateWidget-Day{
	font-size: large;
}

.TitlePanel{
	
	padding:2px;
}

.TitlePanel-Title{
	font-size:large;
	background-color: #eaeaea;
	margin-bottom: 3px;
}

/********* GWT *********/

.gwt-PopupPanel {
  border: none;
  padding: 3px;
  background: white;
}



.gwt-DatePicker {
  border: 1px solid #9e9b9b;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #9e9b9b;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #9e9b9b;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #fff9b5;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #9e9b9b;
  width: 100%;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
  color: #eaeaea;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #eaeaea;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}
