/*
color background gray: ebe9e1

*/

html {
    background-color: #43aabe;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #43aabe;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-family:times;
    font-size: small;

    background: -webkit-linear-gradient(#43aabe 10px, #43aabe 120px, white 120px);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10px, #43aabe
        ), color-stop(120px, #43aabe), color-stop(120px, white) );
    /* Safari 4+, Chrome 2+ */
    background: -moz-linear-gradient(#43aabe 10px, #43aabe 120px, white 120px);
    /* FF 3.6+ */
    background: -ms-linear-gradient(#43aabe 10px, #43aabe 120px, white 120px);
    /* IE10 */
    background: linear-gradient(#43aabe 10px, #43aabe 120px, white 120px);
    /* the standard */
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
    
}

a {
    color: #72aa00;
    text-decoration: none;
}

a:HOVER {
    text-decoration: underline;
}

.header {
    width: 950px;
    height: 60px;
}

.logo a{
    color:white;
    font-family: 'Passero One', cursive;
    font-size: 40px;
    text-shadow: 0px 0px 10px white;
}

.logo a:hover{
    color:white;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


.header-search {
    color: #2c2d25;
    font-weight: bold;
    width: 500px;
    background-color: white;
    margin: 0px;
    padding: 5px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: solid 2px #ebe9e1;
    border-top-width: 0px;
    background-image: url('06-magnify.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;

    box-shadow: 0px 4px 15px black;
}


.header-search:HOVER {
    /*box-shadow:  0px 0px 3px 3px rgba(255,255,255,0.5);*/
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}

.header-search:FOCUS {
    color: #2c2d25;
    background-color: white;
    /*box-shadow:  0px 0px 3px 3px rgba(255,255,255,0.5);*/
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}


.header-location{
    color: #2c2d25;
    font-weight: bold;
    background-color: white;
    margin: 0px;
    margin-left:5px;
    padding: 5px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: solid 2px #ebe9e1;
    border-top-width: 0px;
    background-image: url('location.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;

    box-shadow: 0px 4px 15px black;
}

.header-location:HOVER{
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}

.header-location:FOCUS{
    color: #2c2d25;
    background-color: white;
    /*box-shadow:  0px 0px 3px 3px rgba(255,255,255,0.5);*/
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: left;
    width: 950px;
}

.stdframe {
    padding-right: 2px;
    padding-left: 2px
}

.stdframe .head {
    background-color: #2c2d25;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 0px 15px black;
    border-bottom:none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-family: Times;
    margin-left:3px;
    color: white;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.stdframe .body {
    background-color: #f7f6f1;
    box-shadow: 0px 0px 15px black;
    padding: 5px;
    padding-bottom: 30px;
    border-radius: 2px;
    margin-left:3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d9d4cf;
    border-top:none;
}

.createInfo{
    margin-top:6px;
    font-size:20px;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.createEgInfo{
    font-size:16px;
    margin-left:18px;
    margin-bottom:3px;
}


.bottom {
    padding-top: 10px;
    color: #c7c5be;
    background-color: #2c2d25;
    width: 100%;
    height: 240px;
    margin-top: 40px;
    box-shadow: inset 0px 10px 10px black;
}

.bottom-text {
    text-align: left;
    width: 800px;
}

.bottom-text h2 {
    color: #bfd255;
    margin-bottom: 2px;
}

.bottom-text a {
    color: #c7c5be;
    text-decoration: none;
}

.bottom-text a:HOVER {
    text-decoration: underline;
}


.statisticTable{
    border-collapse:collapse;
}


.statisticTable td{
    padding:1px;
}


.statisticTable-head td{
    background-color:#2c2d25;
    font-size:15px;
    font-weight:bold;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    border-bottom:2px solid #43aabe;
    color:white;
}

.statisticTable-shop-cell{
    color:white;
    font-weight:bold;
    background-color:#43aabe;
}

.statisticTable-shop-cell-link{
    text-decoration:underline;
    cursor:pointer;
}

.statisticTable-shop-cell-link:hover{
    color:black;
}

.statisticTable-cell{
    border:2px white solid;
    padding:3px;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.statisticTable-cell-link{
    text-decoration:underline;
    cursor:pointer;
}

.statisticTable-cell-link:hover{
    color: #43aabe;
}

.dashboardMenuItem{
    background-color:white;
    margin-top:3px;
    padding:8px;
    font-size: 15px;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    border: solid 3px #ebe9e1;
    border-radius:5px;
}

.dashboardMenuItem:hover{
    font-weight: bold;
    cursor:pointer;
    background-color: #2c2d25;
    color: white;
    border: solid 3px #43aabe;

}

.dashboardMenuItemActive{
    background-color: #43aabe;
    border: solid 3px #ebe9e1;
    font-weight: bold;
    color:white;
}

.login {
    white-space:nowrap;
    color: white;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    margin-left:8px;
    font-size: 15px;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-weight: bold;
    background-color: #2c2d25;
    border-radius:5px;
}

.login:HOVER {
    color: white;
    cursor: pointer;
    background-color: #2c2d25;
    box-shadow: 0px 0px 10px 4px white;
}

.loginView {
    color: #ebe9e1;
    background-color: #2c2d25;
    padding: 10px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}

.loginView input {
    border-radius: 2px;
}

.loginView input:HOVER,input:FOCUS {
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
}


.loginView a {
    color: #bfd255;
    text-decoration: none;
}

.loginView a:HOVER {
    text-decoration: underline;
}

.loginView hr {
    margin-top: 15px;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    height: 1px;
    border: 0;
}

.loginView-pic {
    margin-bottom: 4px;
}

.infoBox {
    font-size: 14px;
    background-color: #2c2d25;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}

.infoBox .success {
    border-bottom: solid 3px #72aa00;
    color: #72aa00;
    padding: 3px;
    padding-left: 15px;
}

.infoBox .info {
    color: yellow;
    border-bottom: solid 3px yellow;
    padding: 3px;
    padding-left: 15px;
}

.infoBox .error {
    border-bottom: solid 3px red;
    padding: 3px;
    color: red;
    padding-left: 15px;
}

.stdgrid {
    padding: 0px;
    margin: 0px;
    border: none;
    border-spacing: 0px;
}

.stdgrid input {
    border-width: 2px;
    border-style: solid;
    border-color: #bfd255;
    border-radius: 3px;
    background-color: #ebe9e1;
    padding: 3px;
    margin-bottom: 5px;
}

table.stdgrid {
    padding: 0px;
    margin: 0px;
}

table.stdgrid td {
    padding-right: 10px;
    margin: 0px;
}

table.stdgrid th {
    
}

.stdgrid .namecell {
    text-align: right;
    font-weight: bold;
}

.propertyHeader {
    margin-top: 13px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
}

.propertyGrid {
    border-spacing: 0px;
}

.propertyGrid .namecell { /*font-weight: bold;*/
    
}

.propertyGrid .valuecell {
    text-align: right;
    font-family: Times;
}

table.propertyGrid {
    padding-left: 4px;
    padding-right: 4px;
}

table.propertyGrid td {
    padding-top: 2px;
}

.searchPopup {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #bfd255;
    border-top: none;
    
}

.datePicker{
    padding:3px;
    border: solid 2px #ebe9e1;
    
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.datePicker .datePickerMonthSelector{
    background-color:#2c2d25;
    color:white;
    width:100%;
    text-align:center;
}

.datePicker .datePickerPreviousButton{
    padding-left:2px;
    padding-right:2px;
}

.datePicker .datePickerNextButton{
    padding-left:2px;
    padding-right:2px;
}

.datePicker .datePickerPreviousButton:hover{
    background-color:#43aabe;
    cursor:pointer;
    font-weight:bold;
}

.datePicker .datePickerNextButton:hover{
    background-color:#43aabe;
    cursor:pointer;
    font-weight:bold;
}

.datePicker .datePickerWeekdayLabel{
    background-color:#2c2d25;
    color:white;
}

.datePicker .datePickerWeekendLabel{
    background-color:#2c2d25;
    color:white;
    font-weight:bold;
}

.datePicker .datePickerDay{
    padding:1px;
    cursor:pointer;
}

.datePicker .datePickerDayIsValue{
    background-color:#43aabe;
    color:white;
    font-weight:bold;
}


.receiptNode{
    box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #d9d4cf;
    border: solid 2px #ebe9e1;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.searchPopup .entry {
    cursor: pointer;
}

.morphWidget {
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    border-radius: 2px;
}

input.morphWidget {
    margin: 0px;
    padding: 2px;
}

.morphWidget:HOVER {
}

.morphWidget:FOCUS {
}

.morphWidget:ACTIVE {
}

.morphWidget.edit {
    background-color: white;
    box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #d9d4cf;
    border: solid 2px #ebe9e1;
}

.morphWidget.edit:HOVER {
    
}

.morphWidget.edit:FOCUS {
    
}

.morphWidget.edit:ACTIVE {
    
}

.morphWidget.headline {
    border:none;
    color: white;
    font-size: 21px;
}

.morphWidget.editheadline:FOCUS {
}

.morphWidget.headline:ACTIVE{
}

.morphWidget.edit.headline {
    color: black;
    background-color: white;
    box-shadow:inset 3px 3px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: solid 2px #ebe9e1;
}

.morphWidget.alignRight {
    text-align: right;
}

.unitSelecter {
    border: solid 0px #bfd255;
    text-align: left;
    width: auto;
    text-align: right;
}

.unitSelecter.edit {
    cursor: pointer;

    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),
        to(#cccccc) );
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    white-space: nowrap;
    border-right:none;

    
    padding: 3px;
    padding-left:5px;
    padding-right:5px;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";

}

.unitArrowSelecter{
    cursor: pointer;
    border-left: 1px solid #ccc;
}

.unitSelecter.edit.headline {
}

.popBackground {
    background-color: white;
    padding: 3px;
    border: solid 2px #ebe9e1;
    min-width:30px;
}

.categorySelecter {
        cursor: pointer;

    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),
        to(#cccccc) );
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    white-space: nowrap;

    
    padding: 3px;
    padding-left:5px;
    padding-right:5px;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.categorySelecter.edit{
    margin-left:2px;
}

.categorySelecter:hover{
        background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd),
        to(#bbbbbb) );
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
    color: black;
}

.categorySelecter .arrow {
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.categorySelecter .text { /*cursor: pointer;*/
    
}

.categorySelecter .arrow.edit {
}


.categorySelecter.headline{
    background-image:none;

    background-color:#2c2d25;
    border:none;
    color: white;
    font-size: 21px; 
    text-shadow:none;
}

.categorySelecter.headline .arrow{
    
}

.receiptSearchBox {
    font-weight: bold;
    width: 400px;
    margin: 0px;
    padding: 5px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: solid 2px #43aabe;
    background-image: url('06-magnify.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;
}

.receiptLocationBox {
    font-weight: bold;
    width: 200px;
    margin: 0px;
    padding: 5px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: solid 2px #43aabe;
    background-image: url('location.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;
    margin-left:5px;
}

.previewWidget { /*border: solid 2px #ebe9e1;*/
    border: solid 1px #ebe9e1;
    margin-bottom: 3px;
    background-color: white;
}

.previewWidget-hover{
    background-color:#43aabe;
    cursor:pointer;
}

.previewWidget .logo {
    padding: 2px;
    border: 1px solid #ebe9e1;
    width: 25px;
    height: 25px;
    margin: 2px;
    background-color: #ebe9e1;
    box-shadow: inset 0px 0px 0px 3px white;
}

.previewWidget .headline {
    font-family: times;
    font-size: 13px;
    font-weight: bold;
}

.previewHoverWidget {
    background-color: rgba(0, 0, 0, 0.0);
}

.previewHoverWidget .clickArea {
    background-color: rgba(0, 0, 0, 0.0); /* */
    border: none;
    /*visibility:hidden;/* */
    /*display:none;/* */
}

.previewHoverWidget.rating {
    padding: 2px;
    /*border: 1px solid #ebe9e1;*/
    width: 25px;
    height: 25px;
    margin: 0px;
    /*background-color: #ebe9e1;*/
    /*box-shadow: inset 0px 0px 0px 0px white;*/
}

.previewHoverWidget .plusRating {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d),
        to(#63a62f) );
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border-color: #63a62f;
    border-bottom-color: #5b992b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    min-width: 29px;
    margin: 1px;
}

.previewHoverWidget .minusRating {
    color: white;
    background-color: #b43731;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d95c56),
        to(#b43731) );
    background-image: -webkit-linear-gradient(top, #d95c56, #b43731);
    background-image: -moz-linear-gradient(top, #d95c56, #b43731);
    background-image: -ms-linear-gradient(top, #d95c56, #b43731);
    background-image: -o-linear-gradient(top, #d95c56, #b43731);
    background-image: linear-gradient(top, #d95c56, #b43731);
    border: 1px solid #d95c56;
    border-bottom: 1px solid #b43731;
    text-shadow: 0 -1px 0 #b43731;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    padding: 0;
    text-align: center;
    min-width: 29px;
    margin: 1px;
}

button{
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),
        to(#cccccc) );
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    min-width: 53px;
    white-space: nowrap;
}

button:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd),
        to(#bbbbbb) );
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
    color: black;
}


button.save {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d),
        to(#63a62f) );
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border-color: #63a62f;
    border-bottom-color: #5b992b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
}


button.cancel {
    color: #b43731;
}


button.save:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd),
        to(#bbbbbb) );
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
    color: green;
}

button.cancel:hover {
    color: white;
    background-color: #b43731;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b43731),
        to(#d95c56) );
    background-image: -webkit-linear-gradient(top, #b43731, #d95c56);
    background-image: -moz-linear-gradient(top, #b43731, #d95c56);
    background-image: -ms-linear-gradient(top, #b43731, #d95c56);
    background-image: -o-linear-gradient(top, #b43731, #d95c56);
    background-image: linear-gradient(top, #b43731, #d95c56);
    border: 1px solid #d95c56;
    border-bottom: 1px solid #b43731;
    text-shadow: 0 -1px 0 #b43731;
}