<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Servlets -->
	<servlet>
		<servlet-name>ApiDraft</servlet-name>
		<servlet-class>org.tagaprice.server.draft.ApiDraft</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>ApiDraft</servlet-name>
		<url-pattern>/api/draft/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/tagapriceui/junithost</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>TagAPriceUI.html</welcome-file>
	</welcome-file-list>
</web-app>
