<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping package="org.tagaprice.core.entities"/>
		<mapping class="RevisionableEntity" />
		<mapping class="Locale" />
		<mapping class="Account" />
		<mapping class="Product" />
		<mapping class="Category" />
		<mapping class="Brand" />
	</session-factory>
</hibernate-configuration>
