body {
	font-family: Verdana;
}
div.button {
	text-align: center;
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: 64px;
	width: 64px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	background-color: #fea;
	font-size: 9px;
	font-weight: bold;
	color: white;
	margin: 10px 5px;
}

.button:hover {
	background-color: #fd9;
}

.button div {
	background: url('images/buttons/button_circle.png') bottom center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 18px;
	padding: 12px 0 0 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
}

.button img {
	margin-top: 15px;
}
