@import url('button.css');

/** Add css rules here for your application. */

body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  direction: ltr;
}

body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

input{
	font-family: Arial Unicode MS, Arial, sans-serif;
 	font-size: small;
 	text-decoration: none;
 	border: none; 	
 	height:18px;
	border: none;
	padding:0px;
	margin:0px;
	border: 1px solid #9e9b9b;
}

input.searchBox {
	background: url("images/search.png") 5px center no-repeat;
	border-radius: 8px;
	padding: 2px;
	padding-left: 25px;
}

.RatingWidget0Stars{
  background-image: url("images/rating0.png");
}

.ProductPreview{
	border: 1px solid #9e9b9b;
	margin: 1px;
	padding: 1px;
}

.ShopPreview{
	border: 1px solid #9e9b9b;
	margin: 1px;
	padding: 1px;
}

.ShopPreview-Street, .ShopPreview-city{
	font-size: 10px;
}


.UIManager{
	
}

.UIManager-Menu{
	background-color: #9e9b9b;
	margin-bottom: 3px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.UIManager-Menu-Item{
	border-left: solid 1px white;
}

.UIManager-Menu-Item:hover{
	font-weight: bold;
	color: #9e9b9b;
	background-color: white;
}


.InfoBox-Success{
	background-color: #beffb5;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.InfoBox-Warning{
	background-color: #b5daff;
	font-family: Arial Unicode MS, Arial, sans-serif;
	min-height:40px;
}

.InfoBox-Error{
	padding: 3px;
	color:white;
	background-color: #ff676e;
	font-family: Arial Unicode MS, Arial, sans-serif;
}


.Success{
	background-color: #beffb5;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: small;
}

.Warning{
	background-color: #b5daff;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: small;
  	margin-top: 2px;
  	margin-bottom: 2px;
}

.Error{	
	background-color: #ff676e;
	font-family: Arial Unicode MS, Arial, sans-serif;
  	font-size: small;
  	
}



.MorphWidget{
	height:18px;
	margin:1px;	
}

.MorphWidgetText:hover{
	height:18px;
	border: 1px solid #9e9b9b;
	cursor: text;
}

.MorphWidgetBox{
	height:18px;
	border: none;
	padding:0px;
	margin:0px;
	border: 1px solid #9e9b9b;
	min-width:40px;
	/*max-width:100px;*/
	cursor: text;
}


.DateWidget{
	border: 1px solid #9e9b9b;
	
}

.DateWidget-MonthYear{
	background-color: #eaeaea;
}

.DateWidget-Day{
	font-size: large;
}

.TitlePanel{	
	padding:2px;
}

.TitlePanel-Title-H1{
	font-size:medium;
	background-color: #eaeaea;
	margin-bottom: 3px;
}

.TitlePanel-Title-H2{
	font-size:medium;
	background: #ffd42a url('images/headerbgr.png') repeat-y;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 3px;
	font-weight: bold;
	padding: 3px 10px;
	color:white;
}

.TitlePanel-Title-H3{
	font-size:small;
	background-color: #eaeaea;
	margin-bottom: 3px;
}

.DefaultPropertyHandler{
	border-bottom: thin solid #eaeaea;	
}

.DefaultPropertyHandler:hover{
	background-color: #eaeaea;
}

.DefaultPropertyHandler, .DefaultPropertyHandler-Row-1, .NutritionFactsPropertyHandler, .NutritionFactsPropertyHandler-Row-1{
	
}

.DefaultPropertyHandler-Row1, .NutritionFactsPropertyHandler-Row1{
	background-color: #eaeaea;
}

.highlightSuggestion{
	border-style:solid;
	background-color: #eaeaea;
	
			
}


.TypeWidget{	
}

.TypeWidget-Item{	
	cursor: pointer;
}
.TypeWidget-Item:hover{
	background-color: #eaeaea;
}


.RegistrationPage{
}

.RegistrationPage-Row{
	border-bottom: thin solid #eaeaea;
}

.RegistrationPage-Row:hover{
	background-color: #eaeaea;
}

.HomePage{
}

.HomePage-Grid{
	text-align: center;	
}


.LogoPanel{

	border-bottom-color: #9e9b9b;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	
	margin-bottom: 2px;
}


/********* GWT *********/

.gwt-PopupPanel {
  border: none;
  padding: 3px;
  background-color: white;
}



.gwt-DatePicker {
  border: 1px solid #9e9b9b;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #9e9b9b;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #9e9b9b;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #fff9b5;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #9e9b9b;
  width: 100%;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
  color: #eaeaea;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #eaeaea;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}


