<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Servlets -->
	<!-- 
	<servlet>
		<servlet-name>ProductService</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>org.tagaprice.server.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 -->
	 
	<!-- Boot Servlet -->
	<servlet>
		<servlet-name>BootServlet</servlet-name>
		<servlet-class>org.tagaprice.server.boot.Boot</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<!-- BEGIN: RPC -->
	<servlet>
		<servlet-name>productservice</servlet-name>
		<servlet-class>org.tagaprice.client.gwt.server.mock.ProductServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>productservice</servlet-name>
		<url-pattern>/TagAPrice/productservice</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>org.tagaprice.client.gwt.server.mock.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/TagAPrice/loginservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>shopservice</servlet-name>
		<servlet-class>org.tagaprice.client.gwt.server.mock.ShopServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>shopservice</servlet-name>
		<url-pattern>/TagAPrice/shopservice</url-pattern>
	</servlet-mapping>
	
	
	<!-- END: RPC-->
	
	
	<!--
		- Location of the XML file that defines the root application context.
		- Applied by ContextLoaderServlet.
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>spring/beans.xml</param-value>
	</context-param>
	
	<!--
		- Loads the root application context of this web app at startup,
		-
		- The root context is the parent of all servlet-specific contexts.
		- This means that its beans are automatically available in these child contexts,
		- both for getBean(name) calls and (external) bean references.
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>