<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>daoFactory</param-name>
		<param-value>org.tagaprice.server.dao.mock.MockDaoFactory</param-value>
	</context-param>
	<!-- Servlets -->


	
	
	<!-- BEGIN: RPC -->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.InitService</servlet-class>
		<load-on-startup>true</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>productservice</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.ProductServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>productservice</servlet-name>
		<url-pattern>/TagAPrice/productservice</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/TagAPrice/loginservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>shopservice</servlet-name>
		<servlet-class>org.tagaprice.server.dservikeShopServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>shopservice</servlet-name>
		<url-pattern>/TagAPrice/shopservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>receiptservice</servlet-name>
		<servlet-class>org.tagaprice.server.daservi.eeceiptServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>receiptservice</servlet-name>
		<url-pattern>/TagAPrice/receiptservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>searchservice</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.SearchServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>searchservice</servlet-name>
		<url-pattern>/TagAPrice/searchservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>categoryservice</servlet-name>
		<servlet-class>org.tagaprice.server.daservi.eategoryServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>categoryservice</servlet-name>
		<url-pattern>/TagAPrice/categoryservice</url-pattern>
	</servlet-mapping>
	
	
	<!-- END: RPC-->
	
	

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
