<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>daoFactoryClass</param-name>
		<param-value>org.tagaprice.server.dao.mock.MockDaoFactory</param-value>
	</context-param>
	<!-- Servlets -->




	<!-- BEGIN: RPC -->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/TagAPrice/initservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>productservice</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.ProductServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>productservice</servlet-name>
		<url-pattern>/TagAPrice/productservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/TagAPrice/loginservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shopService</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.ShopServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>shopService</servlet-name>
		<url-pattern>/TagAPrice/shopservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>receiptService</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.ReceiptServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>receiptService</servlet-name>
		<url-pattern>/TagAPrice/receiptservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchService</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.SearchServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>searchService</servlet-name>
		<url-pattern>/TagAPrice/searchservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>categoryService</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.CategoryServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>categoryService</servlet-name>
		<url-pattern>/TagAPrice/categoryservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>unitService</servlet-name>
		<servlet-class>org.tagaprice.server.rpc.UnitServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>unitService</servlet-name>
		<url-pattern>/TagAPrice/unitservice</url-pattern>
	</servlet-mapping>


	<!-- END: RPC -->

	<!-- JUNIT -->

	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/TagAPrice/junithost/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<url-pattern>/TagAPrice/gwt-log</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
